{% extends 'layouts/centered.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block mainContent %}
    <div class="card">
        <div class="card-header m-0">
            <h5>Change password</h5>
        </div>
        <div class="card-body">
            {% include 'includes/flashes.html.twig' %}
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
