{% extends 'layouts/centered.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block mainContent %}

    <div class="card">

        <div class="card-title"></div>

        <div class="card-body">
            {% include "auth/login-form.html.twig" %}
        </div>

    </div>
{% endblock %}
