{% extends 'layouts/bootstrap.html.twig' %}

{% block title %}
    Dites quelque chose !
{% endblock %}

{% block body %}
    <div class="container">
        <h1>
            Créer un nouveau Post !
        </h1>

        {{ form(postForm)}}

    </div>
{% endblock %}



